@use "sass:math";

$title-font-stack: monospace;
$body-font-stack: monospace;

$spacing-unit: 30px !default;

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: math.div($spacing-unit, 2);
}

/* Custom CSS */