@use "sass:math";

$title-font-stack: monospace;
$body-font-stack: monospace;

$spacing-unit: 30px !default;

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: math.div($spacing-unit, 2);
}

/* Custom CSS */

:root {
  color-scheme: light dark;
  
  --transparent-cover: rgb(51, 63, 103, 0.4);
  --transparent-cover-darker: rgba(51, 63, 103, 0.9);

  --base-color: #eff1f5;
  --base-color-text: #4a5365;
  --base-color-text-hl: #454b59;
  --base-color-text-title: #546b99;
  --base-color-text-subtitle: #778ab3;
  --base-color-text-subtitle-date: #9aacd2;

  --dark-color: #333f67;
  --dark-color-text: lightsteelblue;
  --dark-color-text-hl: #d4e3f6;
  --dark-color-text-title: white;

  --primary-color: hsl(206, 58%, 52%);
  --primary-color-text: #d4edff;
  --primary-color-text-hl: white;
  --primary-color-text-title: white;
  --primary-color-subdued: #1f3c5e;
  --accent-color: #f57389;

  --secondary-color-text: #546b99;
  --post-recent-highlight-color: #ea580c;

  --link-color: hsl(206, 58%, 50%);
  --link-underline-color: hsla(206, 58%, 50%, 0.3);
  --navbar-link-color: var(--dark-color);
  --navbar-link-current-color: var(--primary-color);
  --footer-link-color: rgb(200, 210, 250);
  --footer-link-underline-color: rgba(200, 210, 250, 0.3);
  --tab-active-color: var(--primary-color);

  --big-button-color: #478cbf;

  --fund-color: #ef6767;
  --fund-color-hl: #e53e3e;
  --fund-color-faint: #ff9d9d;

  --base-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  --more-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  --background-color: #d5daea;
  --navbar-background-color: #ffffff;
  --head-background-color: var(--primary-color);
  --card-background-color: #ffffff;
  --card-footer-color: #eeeeee;
  --button-background-color: #ffffff;
  --button-card-background-color: #d7dee6;
  --footer-color: rgb(175, 180, 220);
  --footer-background-color: #414d69;
  --pagination-active-color: #284786;
  --placeholder-text-color: #7a87a2;

  --hero-text-background-color: #1a1a1a7a;

  --code-background-color: #dcdfe2;
  --codeblock-background-color: #282b2e;
  --codeblock-color: #e0e2e4;

  --download-hero-color: hsla(0, 0%, 100%, 0.9);
  --download-main-details-color: #f1f1f1;
  --download-table-color: rgba(22, 22, 22, 0.08);
  --platform-note-background-color: rgb(48 86 210 / 9%);
  --platform-code-background-color: #e5ebf1;
  --download-mono-background-color: rgb(43 58 76 / 82%);

  --feature-heading-color: #2d76ad;
  --feature-note-color: #e53e3e;

  --teams-odd-color: rgba(160, 160, 160, 0.15);
  --teams-even-color: rgba(160, 160, 160, 0.05);
  --teams-subteams-color: rgba(255, 255, 255, 0.4);

  --table-divider-color: rgba(0, 0, 0, 0.1);

  --warning-background-color: #ffedcc;
  --warning-color: #404040;

  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --header-font-family: "Montserrat", sans-serif;
  
}

body {
  font-family: var(--default-font-family);
  font-size: 18px;

  background-color: var(--base-color);
  color: var(--base-color-text);

  margin: 0px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

body a {
  outline: none;
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: 0.125rem;
  /* Prevent color transitions for being  too fast (for epilepsy) */
  transition: 0.1s filter;
}

body a,
.btn.flat,
.search-bar-btn:hover {
  /* Use `filter` on all states to prevent the clickable area from changing */
  /* when an image is hovered (see GH-369). */
  filter: brightness(100%);
}

body a:hover,
.btn.flat:hover,
.search-bar-btn:hover {
  filter: brightness(117.5%);
}

body a:active,
.btn.flat:active,
.search-bar-btn:active {
  filter: brightness(82.5%);
}